body{
    font-family: 'PT Sans';
    background-color: #FBE4FF;
}

/*header*/

.header{
    height: 65px;
    background-color: #243B93;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo{
    height: 50px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 158px;
}

.menu{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

li{ 
    width: 170px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang{
    box-sizing: border-box;
    padding-top: 10px;
}

/*h1*/

.h1{
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    color: #202846;
    width: 1321px;
    
}

.title{
    height: 85px;
    background-color: #BFF0FF;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*h2*/

.h2{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color:#0000009C;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    position: relative;

}

.subtitle{
    width: 1321px;
    height: 57px;
    background-color: #FFFFFF;
    align-items: center;
    margin: 30px auto ;
}

.arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 15px 12px 15px 1271px;
    box-sizing: border-box;
}

/*cards*/

.card{
    width:1321px;
    height: 300px;
    background: linear-gradient(to right, #ADCBD4,#00AEE5);
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 42px;
}

.card:hover{
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    transition: all.5sec;
}

.card_title{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    width: 739px;
    box-sizing: border-box;
    padding-top: 14px;
}

.card_text{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    width: 739px;
    height: 205px;
    background: #EDFBFF;
    margin-top: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 118px;
}

.card_image{
    box-sizing: border-box;
    padding: 33px 30px 21px 52px;
    display: inline-block;
}

.card_button{
    position: absolute;
    left: 1144px;
    top: 243px;
    width: 210px;
    height: 46px;
    background: #243B93;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.card:hover .card_button{
    background: #EF075B;
    transition: all.5sec;
}

.card_link{
    color: white;
    text-decoration: none;
}
.star{
    position: absolute;
    left: 1263px;
    top: 6px;
    right: 43px;
}

.card:hover .star{
    fill: #FFF500;
    transition: all.5sec;
}

.button_up{
    position: absolute;
    left: 1282px;
    top: 150px;
}

/*h3*/

.h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    color: #243B93;
    width: 1321px;
}

.cabinet {
    height: 85px;
    background: linear-gradient(to right, #FFE601, #55D6FF );
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*personal info*/

.personal_card{
    position: relative;
    width: 1318px;
    height: 498px;
    background: linear-gradient(to bottom, #859EFF, #69FFD280);
    margin: 0 auto;
    margin-top: 36px;
    display: flex;
    justify-content:space-around;
    
}
.personal_info{
    align-self: center;
}
.avatar{
    box-sizing: border-box;
    padding-top: 77px;
    padding-left: 100px ;
}

.button_avatar{
    position: absolute;
    left: 148px;
    top: 296px;
    width: 250px;
    height: 50px;
    background: #243B93;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.button_avatar:hover{
    background: #EF075B;
}

.button_settings{
    position: absolute;
    left: 148px;
    bottom: 76px;
    width: 250px;
    height: 50px;
    background: #243B93;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.button_settings:hover{
    background: #EF075B;
}

.info{
    border-bottom: 3px solid white;
    width: 712px;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color:#353C57;
    box-sizing: border-box;
    padding: 16px 0;
}

.info_item{
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
}

.exit_button{
    width: 174px;
    height: 50px;
    background: #243B93;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 56px;
}

/*contact*/

.contacts{
    height: 85px;
    background: linear-gradient(to left, #FFE601, #55D6FF);
    align-items: center;
    display: flex;
    justify-content: center;
}

.contacts_items{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts_text{
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    display: flex;
    width: 50%;
    padding-top: 25px;
}

.contacts_subtext{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    border-top: 3px solid #202846;
}

.mail{
margin-left: 56px;
}

.map{
    width: 499px;
    height: 290px;
    border: 3px solid #243B93;
    border-radius: 40px;
    margin-top: 25px;
    margin-bottom: 28px;
    overflow: hidden;
}

/*footer*/

.footer{
    height: 65px;
    background: #243B93;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer_text{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    width: 1321px;
}